<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Investor</title>
</head>
<body>
    <div class="parent-center">
        <div class="child-center">
            <h2>Investor</h2>
            <% if (company.length != 0) { %>
                <p>Analysing <%= company %>....</p>
            <% } else { %>
                <p>What are we analysing today?</p>
            <% } %>
            <form action="/chooseCompany" method="POST">
                <input type="text" name="company" placeholder="Company name">
            </form>
            <h2>Analysing <%- company %></h2>
            
        </div>
    </div>

</body>
</html>